.container-fluid{
    background: #0d0d0d;
    overflow: hidden;
    padding: 0;
}
::ng-deep{
   html, body{
        padding-top:0!important
    }
    .mobile{
        app-header{
            display: none;
        }
        app-minified-footer, app-main-footer{
            display: none;
        }
    }
}

#myearth {

    width: 100%;
    height: 750px;
    max-height: 750px;
    overflow: hidden;


	opacity: 0;
	transition: opacity 1.5s ease-in;
}

#myearth.earth-ready {
	opacity: 1;
}

#myearth::before {
	content: none;
}

::ng-deep {
    
    .earth-container canvas {
        display:none;
    }
    .earth-container canvas {
        &:last-child {
            display:block !important;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 750px;
            max-width: 750px;
            height: 750px;
            max-height: 750px;
            transform: translate(-50%, -50%);
            background: radial-gradient(ellipse at center, rgba(0,156,255,0.05) 25%,rgba(0,156,255,0.15) 53%,rgba(0,156,255,0.05) 56%,rgba(0,156,255,0) 70%);
            z-index: 200;
    }
}
}

/* background glow */

#glow {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    max-width: 750px;
    height: 750px;
    max-height: 750px;
    transform: translate(-50%, -50%);
    background: radial-gradient(ellipse at center, rgba(0,156,255,0.05) 25%,rgba(0,156,255,0.15) 53%,rgba(0,156,255,0.05) 56%,rgba(0,156,255,0) 70%);
    z-index: 200;
	pointer-events: none;
}

.selected-country{
    display: flex;
    height: 30px;
    width: calc(100% - 100px);
    h3{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 10px;
   }
}

.clear-globe{
    position: absolute;
    width: 133px;
    height: 22px;
    border: 1px solid #A7A7A7;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #A7A7A7;
    padding: 0 10px;
    cursor: pointer;
    right: 0;
    margin-top: 10px;
    img{
        width: 10px;
        height: 10px;
   }
}

@media (min-width: 567px) and (max-width: 967px){
    #glow {
        width: 545px;
        max-width: 545px;
        height: 545px;
        max-height: 545px;
    }  
    #myearth {

        height: 545px;
        max-height: 545px;

    }
}

@media (min-width: 300px) and (max-width: 567px){
    #glow {
        width: 290px;
        max-width: 290px;
        height: 290px;
        max-height: 290px;
    }  
    #myearth {

        height: 350px;
        max-height: 350px;

    }
}